@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

menuitem[handyclicks_main="true"] {
	font-weight: bold;
}

checkbox[handyclicks_important="enabled"] label {
	font-weight: bold;
	padding-top: 1px;
	padding-bottom: 0;
}
checkbox[handyclicks_important="enabled"] html|span {
	border-bottom: 2px solid transparent;
}
checkbox[handyclicks_important="enabled"]:not([checked="true"]) html|span {
	border-bottom: 2px solid red;
}

[handyclicks_iconSize="15"] menuitem .menu-iconic-icon[src^="moz-icon:"] {
	width: 15px; height: 15px;
}
[handyclicks_iconSize="14"] menuitem .menu-iconic-icon[src^="moz-icon:"] {
	width: 14px; height: 14px;
}