@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#hc-editor-clickButton {
	-moz-user-focus: ignore;
}
textbox.hcText {
	background: transparent !important;
	border: none;
	padding: 0;
	margin-top: 1px;
	-moz-appearance: none;
	-moz-box-flex: 1;
}

menuitem[hc_disabled="true"] {
	color: graytext; /* Style like disabled, but without accessibility restrictions */
}
menuitem[hc_sets="enabled"],
menulist[hc_sets="enabled"] .menulist-label {
	/*color: -moz-hyperlinktext;*/
	text-decoration: underline;
}
menuitem[hc_sets="disabled"] label,
menulist[hc_sets="disabled"] .menulist-label {
	/*color: -moz-visitedhyperlinktext;*/
	text-decoration: line-through;
}

hbox[hc_fixedFields="true"] {
	outline: 1px solid graytext;
	outline-offset: -1px;
}

tab[hc_disabled="true"] {
	text-decoration: line-through;
}
tab[hc_empty="true"] label {
	opacity: 0.6;
}

[hc_requiredField="true"] {
	outline: 1px solid red;
	outline-offset: -1px;
}

:root[hc_fxVersion="3.0"] menuitem[hc_sets="disabled"],
:root[hc_fxVersion="3.0"] menulist[hc_sets="disabled"] .menulist-label-box {
	/* Firefox 3.0 don't show line-through without this */
	text-decoration: underline;
}

menulist:not([label]) > .menulist-label-box, menulist[label=""] > .menulist-label-box {
	/* Empty menulists */
	min-height: 1em;
}

.hcEditor {
	font-family: "Courier New", monospace;
	-moz-binding: url("chrome://handyclicks/content/editor.xml#codeEditor");
}
/* "Fullwindow" feature */
:root[hc_maximized="true"] *|*:not([hc_maximized="true"]):not(.dialog-content-box) {
	visibility: collapse;
}
:root[hc_maximized="true"] .hcEditor *|*:not(autorepeatbutton) {
	visibility: visible !important; /* For anonymous nodes inside textbox.hcEditor */
}
[hc_maximized="true"]:not(.hcEditor) {
	/* Hide all borders */
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	-moz-appearance: none !important;
}
.hcEditor[hc_maximized="true"] {
	margin: 0 !important;
}

#hc-editor-funcSets {
	overflow: auto;
}
#hc-editor-itemTypes {
	max-width: 22em;
}
#hc-editor-customType {
	min-width: 12em;
	max-width: 30em;
}
#hc-editor-customTypeExtId {
	min-width: 9em;
}

#hc-editor-funcTab-delay [hc_notDelay="true"],
#hc-editor-funcTab [hc_notFunc="true"] {
	display: none;
}

/*
#hc-editor-funcLabel, #hc-editor-funcLabel-delay {
	margin-top: 0;
	margin-bottom: 0;
}
*/

menulist[hc_aboutConfigEntry] .menulist-label,
[hc_aboutConfigEntry] {
	cursor: help;
}
[hc_aboutConfigEntry] :not([hc_aboutConfigEntry]) {
	cursor: default;
}