@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

menuitem.handyClicks-iconic {
	list-style-image: url("icons16.png");
}
menuitem.handyClicks-iconic image {
	width: auto !important;
	height: auto !important;
	min-width: 0 !important;
	min-height: 0 !important;
	max-width: none !important;
	max-height: none !important;
}
menuitem.handyClicks-iconic[disabled="true"] image {
	opacity: 0.32;
}

menuitem[handyclicks_main="true"] {
	font-weight: bold;
}

checkbox[handyclicks_important="enabled"] label {
	font-weight: bold;
	padding-top: 1px;
	padding-bottom: 0;
}
checkbox[handyclicks_important="enabled"]:not([checked="true"]) {
	color: red;
}