@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.handyClicks-iconic {
	list-style-image: url("icons16.png");
}
.handyClicks-iconic image.menu-iconic-left, /* Firefox 1.5 - 2.0 */
.handyClicks-iconic .menu-iconic-icon {
	width: auto !important;
	height: auto !important;
	min-width: 0 !important;
	min-height: 0 !important;
	max-width: none !important;
	max-height: none !important;
}
.handyClicks-iconic[disabled="true"] image.menu-iconic-left, /* Firefox 1.5 - 2.0 */
.handyClicks-iconic[disabled="true"] .menu-iconic-icon {
	opacity: 0.32;
}