@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#handyClicks-statusbarButton {
	cursor: pointer;
}
#handyClicks-statusbarButton,
toolbar[iconsize="small"] #handyClicks-toolbarButton,
#handyClicks-toolsMenuitem {
	list-style-image: url("icons16.png");
	-moz-image-region: rect(0 16px 16px 0);
}
#handyClicks-statusbarButton[hc_enabled="false"],
toolbar[iconsize="small"] #handyClicks-toolbarButton[hc_enabled="false"],
#handyClicks-toolsMenuitem[hc_enabled="false"] {
	-moz-image-region: rect(0 32px 16px 16px);
}
#handyClicks-toolbarButton {
	list-style-image: url("icons24.png");
	-moz-image-region: rect(0 24px 24px 0);
}
#handyClicks-toolbarButton[hc_enabled="false"] {
	-moz-image-region: rect(0 48px 24px 24px);
}
[id^="handyClicks-"][hc_editMode="true"] {
	outline: 1px solid red !important;
	outline-offset: -1px !important;
}

#handyClicks-customizeSeparator[hc_hideAllAfter="true"],
#handyClicks-customizeSeparator[hc_hideAllAfter="true"] ~ *,
#handyClicks-customizeSeparator + menuseparator {
	display: none !important;
}

toolbar[iconsize="small"] #handyClicks-toolbarButton .toolbarbutton-icon {
	/* Firefox 3.7a3pre resize icons to 18x18 */
	width: auto;
	height: auto;
}

#handyClicks-tooltip {
	padding: 0;
}
.handyClicks-invalidPath image, .handyClicks-invalidPath label {
	opacity: 0.5;
}
.handyClicks-invalidPathTip {
	color: red;
}