@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.handyClicks-iconic {
	list-style-image: url("icons16.png");
}
.handyClicks-iconic image.menu-iconic-left, /* Firefox 1.5 - 2.0 */
.handyClicks-iconic .menu-iconic-icon {
	width: auto !important;
	height: auto !important;
	min-width: 0 !important;
	min-height: 0 !important;
	max-width: none !important;
	max-height: none !important;
}
.handyClicks-iconic[disabled="true"] image.menu-iconic-left, /* Firefox 1.5 - 2.0 */
.handyClicks-iconic[disabled="true"] .menu-iconic-icon {
	opacity: 0.32;
}

#handyClicks-statusbarButton {
	cursor: pointer;
	padding-right: 1px;
	padding-left: 2px; /* Fix for not centered icon */
}

/* 16x16 status icons */
#handyClicks-statusbarButton,
toolbar[iconsize="small"] #handyClicks-toolbarButton,
toolbar:not([iconsize]) .customization-target > #handyClicks-toolbarButton, /* Firefox 59+ */
#handyClicks-toolsMenuitem,
#handyClicks-appMenuitem {
	list-style-image: url("icons16.png");
	-moz-image-region: rect(0 16px 16px 0);
}
#handyClicks-statusbarButton[hc_enabled="false"],
toolbar[iconsize="small"] #handyClicks-toolbarButton[hc_enabled="false"],
toolbar:not([iconsize]) .customization-target > #handyClicks-toolbarButton[hc_enabled="false"],
#handyClicks-toolsMenuitem[hc_enabled="false"],
#handyClicks-appMenuitem[hc_enabled="false"] {
	-moz-image-region: rect(0 32px 16px 16px);
}

/* 24x24 status icons */
#handyClicks-toolbarButton {
	list-style-image: url("icons24.png");
	-moz-image-region: rect(0 24px 24px 0);
}
#handyClicks-toolbarButton[hc_enabled="false"] {
	-moz-image-region: rect(0 48px 24px 24px);
}

/* 32x32 status icons (Australis, menu panel and customization area) */
#handyClicks-toolbarButton[cui-areatype="menu-panel"],
#customization-palette > toolbarpaletteitem[place="palette"] > #handyClicks-toolbarButton {
	list-style-image: url("icons32.png");
	-moz-image-region: rect(0 32px 32px 0);
}
#handyClicks-toolbarButton[cui-areatype="menu-panel"][hc_enabled="false"],
#customization-palette > toolbarpaletteitem[place="palette"] > #handyClicks-toolbarButton[hc_enabled="false"] {
	-moz-image-region: rect(0 64px 32px 32px);
}

/* 16x16 mouse buttons icons */
#handyClicks-statusbarButton[hc_button="0"],
toolbar[iconsize="small"] #handyClicks-toolbarButton[hc_button="0"],
toolbar:not([iconsize]) .customization-target > #handyClicks-toolbarButton[hc_button="0"],
#handyClicks-editModeTip-icon[hc_button="0"] {
	-moz-image-region: rect(0 48px 16px 32px);
}
#handyClicks-statusbarButton[hc_button="1"],
toolbar[iconsize="small"] #handyClicks-toolbarButton[hc_button="1"],
toolbar:not([iconsize]) .customization-target > #handyClicks-toolbarButton[hc_button="1"],
#handyClicks-editModeTip-icon[hc_button="1"] {
	-moz-image-region: rect(0 64px 16px 48px);
}
#handyClicks-statusbarButton[hc_button="2"],
toolbar[iconsize="small"] #handyClicks-toolbarButton[hc_button="2"],
toolbar:not([iconsize]) .customization-target > #handyClicks-toolbarButton[hc_button="2"],
#handyClicks-editModeTip-icon[hc_button="2"] {
	-moz-image-region: rect(0 80px 16px 64px);
}

/* 24x24 mouse buttons icons */
#handyClicks-toolbarButton[hc_button="0"] {
	-moz-image-region: rect(0 72px 24px 48px);
}
#handyClicks-toolbarButton[hc_button="1"] {
	-moz-image-region: rect(0 96px 24px 72px);
}
#handyClicks-toolbarButton[hc_button="2"] {
	-moz-image-region: rect(0 120px 24px 96px);
}

/* 32x32 mouse buttons icons */
#handyClicks-toolbarButton[cui-areatype="menu-panel"][hc_button="0"],
#customization-palette > toolbarpaletteitem[place="palette"] > #handyClicks-toolbarButton[hc_button="0"] {
	-moz-image-region: rect(0 96px 32px 64px);
}
#handyClicks-toolbarButton[cui-areatype="menu-panel"][hc_button="1"],
#customization-palette > toolbarpaletteitem[place="palette"] > #handyClicks-toolbarButton[hc_button="1"] {
	-moz-image-region: rect(0 128px 32px 96px);
}
#handyClicks-toolbarButton[cui-areatype="menu-panel"][hc_button="2"],
#customization-palette > toolbarpaletteitem[place="palette"] > #handyClicks-toolbarButton[hc_button="2"] {
	-moz-image-region: rect(0 160px 32px 128px);
}

#handyClicks-statusbarButton[hc_editMode="true"],
#handyClicks-toolbarButton[hc_editMode="true"],
#handyClicks-toolsMenuitem[hc_editMode="true"],
#handyClicks-appMenuitem[hc_editMode="true"] {
	outline: 1px solid red !important;
	outline-offset: -1px !important;
}

#handyClicks-mainCommandsSeparator + menuseparator,
#handyClicks-viewToolbarsSeparator + menuseparator {
	display: none !important;
}

toolbar[iconsize="small"] #handyClicks-toolbarButton .toolbarbutton-icon {
	/* Firefox 3.7a3pre+ resize icons to 18x18 */
	width: auto;
	height: auto;
}

#handyClicks-settingsMenuitem {
	-moz-image-region: rect(48px 80px 64px 64px);
}
#handyClicks-allSettingsMenuitem {
	-moz-image-region: rect(48px 96px 64px 80px);
}
#handyClicks-editMode {
	-moz-image-region: rect(48px 112px 64px 96px);
}
#handyClicks-importFromClipboard {
	-moz-image-region: rect(32px 96px 48px 80px);
}
.handyClicks-editItem {
	-moz-image-region: rect(32px 32px 48px 16px);
}
#handyClicks-statusbarProgressCancel {
	-moz-image-region: rect(48px 32px 64px 16px);
}

#handyClicks-statusbarProgressLabel-box {
	min-width: 3.5em !important;
}
#handyClicks-statusbarProgressLabel {
	margin: 0 !important;
	-moz-margin-end: 4px !important;
	padding: 0 !important;
}
toolbarpaletteitem #handyClicks-toolbarProgressContainer {
	visibility: visible !important;
}

#handyClicks-tooltip {
	padding: 0;
}
.handyClicks-invalidPath image, .handyClicks-invalidPath label {
	opacity: 0.5;
}
.handyClicks-invalidPathTip {
	color: red;
}

#handyClicks-editModeTip {
	padding: 1px;
}
#handyClicks-editModeTip-icon {
	list-style-image: url("icons16.png");
	-moz-image-region: rect(0 16px 16px 0);
	margin-top: 4px;
}
#handyClicks-editModeTip-header {
	font-weight: bold;
	margin: 1px;
}
#handyClicks-editModeTip-type {
	margin: 1px;
}
#handyClicks-editModeTip-uri {
	margin: 1px;
	max-width: 30em;
}
#handyClicks-editModeTip-uri:empty {
	display: none;
}