@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#hcNotifyBox {
	border: 2px solid black;
	padding: 10px;
}
#hcNotifyBox.hc-clickable, #hcNotifyBox.hc-clickable * {
	cursor: pointer;
}
#hcNotifyImg {
	list-style-image: url("icons32.png");
	-moz-image-region: rect(0 32px 32px 0);
	margin-top: 2px;
}
#hcNotifyImg[hc_icon="disabled"] {
	-moz-image-region: rect(0 64px 32px 32px);
}
#hcNotifyImg[hc_icon="warning"] {
	-moz-image-region: rect(32px 32px 64px 0);
}
#hcNotifyImg[hc_icon="error"] {
	-moz-image-region: rect(32px 64px 64px 32px);
}
#hcNotifyContainer {
	-moz-margin-start: 5px;
}
#hcNotifyClose {
	/* Based on styles for .tabs-closebutton from chrome://browser/skin/browser.css */
	-moz-user-focus: normal;
	outline-offset: -4px;
	-moz-appearance: none;
	border: none;
	margin: -12px 0 -4px;
	-moz-margin-start: 0;
	-moz-margin-end: -12px;
	padding: 10px;
}
#hcNotifyHeader {
	margin: 2px;
	padding: 1px 4px 2px;
}
html|div#hcNotifyOverflowBox {
	overflow: auto;
	margin: 2px;
	padding: 0;
}
html|div#hcNotifyDesc {
	padding: 2px 4px;
}
#hcNotifyButtons:not(:empty) {
	margin-top: 4px;
}
* {
	-moz-user-select: text !important;
}