@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#hcNotifyBox {
	border: 2px solid black;
	padding: 10px;
}
#hcNotifyBox.hc-clickable, #hcNotifyBox.hc-clickable * {
	cursor: pointer;
}
#hcNotifyImg {
	list-style-image: url("icons32.png");
	-moz-image-region: rect(0 32px 32px 0);
	margin-top: 2px;
}
#hcNotifyImg[hc_icon="disabled"] {
	-moz-image-region: rect(0 64px 32px 32px);
}
#hcNotifyImg[hc_icon="warning"] {
	-moz-image-region: rect(32px 32px 64px 0);
}
#hcNotifyImg[hc_icon="error"] {
	-moz-image-region: rect(32px 64px 64px 32px);
}
#hcNotifyContainer {
	margin-left: 5px;
}
* {
	-moz-user-select: text !important;
}