@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Icons */
radio[pane] {
	list-style-image: url("prefs32.png");
}
radio[pane="hc-sets-pane-actions"] {
	-moz-image-region: rect(0 32px 32px 0);
}
radio[pane="hc-sets-pane-prefs"] {
	-moz-image-region: rect(0 64px 32px 32px);
}
radio[pane="hc-sets-pane-builtInFuncsSets"] {
	-moz-image-region: rect(0 96px 32px 64px);
}

/* Tree style */
/* Override system colors for use custom colors for highlighting */
treechildren {
	color: black;
	background-color: white;
}
treechildren::-moz-tree-row(selected),
treechildren::-moz-tree-cell-text(selected) {
	background-color: #bfc1ca !important;
	color: black !important;
}

treechildren::-moz-tree-row(hc_custom) {
	background-color: #dfffdf;
}
treechildren::-moz-tree-row(hc_customType) {
	background-color: #dff9ff;
}
treechildren::-moz-tree-row(hc_custom, hc_customType) {
	background-color: #dffff7;
}
treechildren::-moz-tree-row(hc_disabled) {
	background-color: #f1efe2;
}
treechildren::-moz-tree-row(hc_buggy) {
	background-color: #faa;
}
treechildren::-moz-tree-row(hc_search) {
	background-color: #e7e3ff;
}
treechildren::-moz-tree-row(hover) {
	border: 1px dotted black;
}
treechildren::-moz-tree-cell-text(hc_edited) {
	font-weight: bold;
}
treechildren::-moz-tree-cell-text(hc_copied) {
	color: #bfc1ca !important;
}
treechildren::-moz-tree-cell-text(hc_override) {
	font-style: italic;
}
treechildren::-moz-tree-cell-text(hc_equals) {
	text-decoration: underline;
}
treechildren::-moz-tree-checkbox(hc_checkbox) {
	list-style-image: url("checkbox.png"); /* Image from Adblock Plus extension */
	-moz-image-region: rect(13px 13px 26px 0);
}
treechildren::-moz-tree-checkbox(checked) {
	-moz-image-region: rect(0 13px 13px 0);
}

#hc-sets-tree-searchContainer {
	-moz-appearance: textfield;
	margin: 2px;
}
#hc-sets-tree-searchField {
	-moz-appearance: none;
	margin: 0;
	border: none;
}
[hc_notfound="true"], [hc_notfound="true"] * {
	/* Colors from chrome://global/skin/findBar.css in Firefox 3.0 */
	background-color: #f66;
	color: #fff;
}

#hc-sets-tree-buttons button {
	margin-left: 3px;
	margin-right: 3px;
}
button[type="menu"] dropmarker {
	min-width: 11px !important;
	min-height: 11px !important;
	width: auto !important;
	height: auto !important;
}
#hc-sets-enabled {
	font-weight: bold;
}