@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
radio[pane="handyClicks-sets-pane-actions"] {
	list-style-image: url("mouse.png");
}
radio[pane="handyClicks-sets-pane-customTypes"] {
	list-style-image: url("custom_types.png");
}
radio[pane="handyClicks-sets-pane-prefs"] {
	list-style-image: url("prefs.png");
}
checkbox[preference="enabled"][hideallafter="true"] ~ * {
	visibility: hidden;
}