/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* From chrome://global/skin/global.css */
/* ::::: root elements ::::: */

prefwindow {
  -moz-appearance: window;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  font: message-box;
}

/* From chrome://global/content/xul.css */
/********** preferences ********/

prefwindow,
prefwindow:root /* override :root from above */ {
  -moz-binding: url("chrome://handyclicks-quantum/content/preferences.xml#prefwindow");
  -moz-box-orient: vertical;
}

prefpane {
  -moz-binding: url("chrome://handyclicks-quantum/content/preferences.xml#prefpane");
  -moz-box-orient: vertical;
}

prefwindow > .paneDeckContainer {
  overflow: hidden;
}

prefpane > .content-box {
  overflow: hidden;
}

prefwindow[type="child"] > .paneDeckContainer {
  overflow: -moz-hidden-unscrollable;
}

prefwindow[type="child"] > prefpane > .content-box {
  -moz-box-flex: 1;
  overflow: -moz-hidden-unscrollable;
}

preferences {
  -moz-binding: url("chrome://handyclicks-quantum/content/preferences.xml#preferences");
  visibility: collapse;
}

preference {
  -moz-binding: url("chrome://handyclicks-quantum/content/preferences.xml#preference");
  visibility: collapse;
}

radio[pane] {
  -moz-binding: url("chrome://handyclicks-quantum/content/preferences.xml#panebutton") !important;
  -moz-box-orient: vertical;
  -moz-box-align: center;
}

prefwindow[chromehidden~="toolbar"] .chromeclass-toolbar {
  display: none;
}

/* Firefox 60, see https://bugzilla.mozilla.org/show_bug.cgi?id=1429573 */
textbox[type="number"][size="2"] { width: calc(2ch + 24px); }
textbox[type="number"][size="3"] { width: calc(3ch + 24px); }
textbox[type="number"][size="5"] { width: calc(5ch + 24px); }
textbox[type="number"][size="7"] { width: calc(7ch + 24px); }
textbox[type="number"][size="8"] { width: calc(8ch + 24px); }

textbox[type="number"] html|*.numberbox-input::-moz-number-wrapper {
	cursor: default;
}
textbox[type="number"] html|*.numberbox-input::-moz-number-spin-box {
	position: relative !important; /* Fix accessibility */
	z-index: 1000 !important;

	margin-top: -2px !important;
	margin-bottom: -3px !important;
	margin-inline-end: -4px !important;
}
textbox[type="number"] html|*.numberbox-input::-moz-number-spin-up,
textbox[type="number"] html|*.numberbox-input::-moz-number-spin-down {
	min-width: 13px !important;
	min-height: 11px !important;
}